@media only screen and (min-width: 600px) and (max-width: 992px) {
  .container {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
  }
  .column-10 {
    width: 0;
    min-height: 100%;
    background: linear-gradient(rgb(185, 181, 250), rgb(203, 199, 251));
    box-sizing: border-box;
  }
  .column-20 {
    width: 20%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .column-80-1 {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /*   box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2),
    0 20px 20px 2px rgba(0, 0, 0, 0.19); */
    box-sizing: border-box;
    background: linear-gradient(rgb(185, 181, 250), rgb(203, 199, 251));
  }
  .column-80 {
    width: 80%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .sidebar {
    min-height: 100%;
    background-color: rgb(240, 233, 239);

    padding: 1em;
    box-sizing: border-box;
  }
  .NavBarHeader {
    width: 100%;
    height: 25em;
    display: flex;
    flex-direction: column;
    background-color: rgb(185, 181, 250);
  }
  .header {
    height: 20em;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    box-sizing: border-box;
  }
  .header img {
    width: 100%;
  }
  .footer {
    height: 5em;
    background-color: rgb(203, 199, 251);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .navbar {
    height: 5em;
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(208, 205, 247);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .navbar p {
    padding: 1em;
  }

  .content {
    min-height: 100%;
    background-color: rgb(253, 251, 253);
    padding: 1em;

    box-sizing: border-box;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  button {
    border: none;
    color: black;
    padding: 0.8em;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    background-color: inherit;
  }

  .navbar p {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
  }

  .blogpost {
    height: fit-content;
    background-color: ghostwhite;
    margin: 1em;
    padding: 1em;
  }

  .blogpost h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 500;
  }

  .blogpost h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 500;
  }

  .blogpost h4 {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    font-weight: 500;
  }

  .blogpost p {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    font-weight: 300;
  }
  .profilepic {
    width: 30%;
  }

  .commentForm {
    display: flex;
    flex-direction: column;
  }

  .commentForm .input {
    width: 15em;
    margin-top: 1em;
  }

  .commentForm .message {
    width: 15em;
    height: 10em;
    margin-top: 1em;
  }

  .comment {
    height: fit-content;
    background-color: ghostwhite;
    margin: 1em;
    padding: 1em;
  }
}
